.intro-redes {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.boton-menu {
    width: 40px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url(../img/menu.png);
}

.bar{
	border: none;
	backdrop-filter: none;
}

.bar-cv {
	display: none;
}

.icon-bar {
	display: none;
}

.proyectos-org {
    display: grid;
    justify-content: center;
    grid: auto / 220px;
    gap: 60px;
    margin-top: 40px;
    width: fit-content;
}
