#splash {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--bg2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  transition: all 0.3s;
}

#splash.fade-out {
	transform: translateY(-200px);
	opacity: 0;
	visibility: hidden;
}

@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

.typewriter { 
	color: var(--txt);
	font: bold 2.5rem Monaco, monospace;
	border-right: 0.1em solid var(--txt);
	width: 9em;
	width: 7ch; 
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 1.9s steps(7, end), blink-caret 0.5s step-end infinite alternate;
}
