:root{
	--bg2: #f2f1f5;
	--bg: #e6e6eb;
	--fg: #4a4950;

	--txt: #4a4950;
	--light-txt: #acacac;

	--black: #a09fa7;
	--red: #c85d65;
	--green: #5d8686;
	--orange: #d19b8a;
	--yellow: #c8a27f;
	--blue: #7090b0;
	--cyan: #7a8cc3;
	--magenta: #8c72b0;
	--pink: #b084b0;
	--white: #29262e;
	--grey: #7c7785;

	--primary: var(--blue);
	--secondary: var(--magenta);

	--box-shadow: #2b2c3499;
	--estudio-width: 18rem;
}

body.dark {
	--bg2: #19171c;
	--bg: #29262e;
	--fg: #8b8792;

	--txt: #8b8792;
	--light-txt: #585260;

	--black: #585260;
	--red: #924f58;
	--green: #5d8686;
	--yellow: #a08061;
	--orange: #ad7b6a;
	--blue: #5f7e94;
	--magenta: #685286;
	--pink: #8a618a;
	--cyan: #5f6a9c;
	--white: #e2dfe7;
	--grey: #8b8792;

	--box-shadow: #d4d3cb99;
}

html {
    font-size: 17px;
    font-family: monospace;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg2);
    color: var(--txt);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
	transition: all 0.3s;
}

body::before {
  content: "";
  background: url("../img/noisy.webp");
  position: fixed;
  inset: 0;
  opacity: 40%;
  pointer-events: none;
  z-index: -1;
}
.background {
    width: 100vw;
    overflow: hidden;
}

.section {
    width: 100%;
    padding-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    text-align: center;
}


button {
    font-size: 17px;
    font-family: monospace;
}

.grad-txt {
	color: var(--primary);
}

.sec-txt {
    text-align: center;
    color: var(--light-txt);
}

.no-marg{
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.bar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    border-color: var(--border);
    backdrop-filter: blur(5px);
    font-size: 0.9rem;
    position: fixed;
	height: 3.5rem;
    width: 100%;
    z-index: 1;
}

.bar-org {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    width: 95%;    
}

.boton-theme {
	font-size: 20px;
	border: none;
	transition: color 0.3s;
	background-color: transparent;
	color: var(--txt)
}

.boton-theme:hover {
	cursor: pointer;
	color: var(--light-txt);
}


.icon-bar {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: fit-content;
    padding: 15px;
    background-color: none;
}

.nav-icon {
    margin-right: 15px;
}

.boton-menu {
    display: none;
}

.boton-bar {
    text-decoration: none;
    color: var(--txt);
    transition: color 0.3s;
    position: relative;
}

.boton-bar::after { 
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: var(--light-txt);
	bottom: -5px;
	left: 0;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.2s ease-out;
}

.boton-bar:hover::after {
	transform: scaleX(1);
}

.boton-bar.activo:after {
  transform: scaleX(1);
}

.boton-activo {
    color: var(--txt);
}

.intro-grid {
    display: grid;
    justify-items: center;
    height: 100vh;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.intro-text {
    max-width: 40%;
    text-align: center;
}

.intro-redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-bot {
    display: flex;
    justify-content: center;
    align-items: center;
}


.boton {
    color: var(--txt);
    text-decoration: none;
    border-color: rgba(240, 248, 255, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    transition: all 0.3s;
}

.boton:hover {
	color: var(--light-txt);
    cursor: pointer;
}

.htb-icon {
    width: 40px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url(../img/htb.svg);
}

.cv {
    text-align: center;
	border: solid 0px var(--light-txt);
    transition: all 0.3s;
}

.estudios-org {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    width: 60%;
}

.estudio {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 10px 20px;
	border-radius: 7px;
    border: solid 1px var(--light-txt);
    box-shadow: var(--box-shadow) 0px 0px 1px;
    transition: background-color 0.3s, box-shadow 0.3s, border-color 0.3s, opacity 0.3s;
    width: 100%;
}

.estudio:hover {
    box-shadow: var(--box-shadow) 0px 0px 3px;
}

.estudios-org:hover .estudio{
	opacity: 0.5;
}
.estudios-org .estudio:hover{
	opacity: 1;
}

.cert {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.cert-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--txt);
    transition: color 0.3s;
}

.cert-bot:hover {
    color: var(--light-txt);
    cursor: pointer;
}

.skills-divs{
	width: 60%;
}

.skills-org {
    max-width: 40%;
}

.skills-bot-org {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 50px;
}

.skills-bot {
    background-color: #00000000;
    color: var(--txt);
    border: solid 1px var(--light-txt);
    border-radius: 7px;
    box-shadow: var(--box-shadow) 0px 0px 1px;
    padding: 10px;
    transition: all 0.3s;
}

.skills-bot:hover{
    cursor: pointer;
    box-shadow: var(--box-shadow) 0px 0px 2px;
}

.btn-active {
    color: var(--light-txt);
}

.skill-grp {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(90px, auto));
    justify-content: center;
    align-items: center;
	row-gap: 15%;
    /* column-gap: 9%; */
    margin-top: 50px;
    transition: all 0.3s;
    height: auto;
    opacity: 1;
}


.oculto {
    max-height: 0;
    opacity: 0;
    margin: 0;
    transform: translateY(10rem);
}

.proyectos-org {
    display: grid;
    justify-content: center;
    grid: auto / 220px 220px 220px 220px;
    gap: 60px;
    margin-top: 40px;
    width: fit-content;
}

.proyecto {
    display: grid;
    align-items: center;
    border: solid 1px var(--light-txt);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow) 0px 0px 1px;
    transition: all 0.3s;
}

.proyecto:hover {
    box-shadow: var(--box-shadow) 0px 0px 2px;
	transform: translateY(-20px)
}

.proyectos-org:hover .proyecto{
	opacity: 0.5;
}
.proyectos-org .proyecto:hover{
	opacity: 1;
}

.proyecto-mrg {
    margin: 10px auto ;
}

.proyecto-img {
	width: 178px;
	height: 100px;
	object-fit: cover;
	object-position: center;
	border-radius: 7px;
}

.under-txt {
    border-bottom-color: var(--primary);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
    margin-bottom: 10px;
}

.proyecto-icon-org {
    position: relative;
    display: inline-block;
    text-align: center;
    z-index: 1;
}

.proyecto-icon {
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: var(--light-txt);
}

.proyecto-hacking {
    background-image: url(../img/security.png);
}
.proyecto-wifi {
    background-image: url(../img/wifi.png);
}
.proyecto-bash {
    background-image: url(../img/bash.png);
}
.proyecto-linux {
    background-image: url(../img/linux.png);
}
.proyecto-windows {
    background-image: url(../img/widows.svg);
}
.proyecto-wifi {
    background-image: url(../img/wifi.png);
} 

.proyecto-icon-txt {
    color: var(--txt);
    position: absolute;
    bottom: 105%;        /*lo coloca encima del icono */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 8px;
    border: none;
    white-space: nowrap;
    text-align: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s;

	backdrop-filter: blur(5px); 
}

.proyecto-icon-org:hover .proyecto-icon-txt {
    opacity: 1;
    visibility: visible;
}

.border-top {
    border-top: solid 1px var(--light-txt);
    margin-top: 10px;
}

.proyecto-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: fit-content;
    text-decoration: none;
    color: var(--txt);
    transition: color 0.3s;
    margin-top: 10px;
}

.proyecto-bot:hover{
    color: var(--light-txt);
    cursor: pointer;
}

.contacto-bg {
    width: fit-content;
    border-radius: 10px;
    border: solid 1px var(--light-txt);
    box-shadow: var(--box-shadow) 0px 0px 1px;
    margin-top: 50px;
    padding: 20px;
	transition: all ease 0.3s;
}

.contacto-bg:hover{
    box-shadow: var(--box-shadow) 0px 0px 2px;
}

.contacto {
    display: grid;
    justify-content: center;
}

.icon-contact {
    width: 24px;
    height: 24px;
}

.boton-contacto {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--txt);
    text-decoration: none;
    border-color: rgba(240, 248, 255, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

.boton-contacto:hover {
	transform: translateX(5px);
}

.contacto-bg:hover .boton-contacto {
    color: var(--light-txt);
}

.contacto-bg .boton-contacto:hover {
    cursor: pointer;
    color: var(--txt);
}

.footer {
    border-top: solid 1px var(--light-txt);
    padding: 15px 0;
    margin-top: 60px;
}

