:root {
    --primary: #3b82f6;
    --primary2: #275399;
    --primary2-trans: #27539967;
    --secondary: #af71ff;
    --secondary2: #7f54e4;
    --bg: #080a21;
    --bg-sec: #020416;
    --bg2: #26262a99;
    /* --bg3: #000125;
    --bg4: #10001e;
    --bg5: #10001e; */
    --border: #2b2b2b;
    --border2: #494949;
    --text: #f1f1f1;
    --txt2: #858585;
    --boton_hover: #6090dd;

    --button-gradient: linear-gradient(to right, #3b82f6, #6064ff, #7178ff) 0% 50% / 200% 200%;
    /* --button-gradient: linear-gradient(to right, #275399, #3b82f6, #7178ff) 50% 0% / 300% 300%; */


    --estudio-width: 18rem;
}

html {
    font-size: 17px;
    font-family: monospace;
    scroll-behavior: smooth;
}

button {
    font-size: 17px;
    font-family: monospace;
}

body {
    background-color: #0e0e0e;
    color: var(--text);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.background {
    width: 100vw;
    overflow: hidden;
}

.section {
    width: 100%;
    padding-top: 7%;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    text-align: center;
}

.grad-txt {
    /* background: linear-gradient(90deg, #3b82f6, var(--secondary2)); */
    background: linear-gradient(155deg, #3b82f6, var(--secondary));

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent; 
}

.sec-txt {
    text-align: center;
    color: var(--txt2);
}

.no-marg{
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.bar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    border-color: var(--border);
    backdrop-filter: blur(5px);
    font-size: 0.9rem;
    height: 3.5rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.bar-org {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    width: 95%;    
}

.logo {
  height: 40px;
  width: 80px;
  fill: var(--primary);
}

.download-icon {
    color: var(--text); 
    font-size: 20px;
    margin-right: 5px;
}

.icon-bar {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: fit-content;
    padding: 15px;
    background-color: none;
}

.nav-icon {
    margin-right: 15px;
}

.boton-menu {
    display: none;
}

.boton-bar {
    text-decoration: none;
    color: #acacac;
    transition: color 0.3s;
    position: relative;
    /* margin-left: 10px; */
}

.boton-bar::after { 
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--primary2), var(--primary));
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.boton-bar:hover::after {
  transform: scaleX(1);
}

.boton-bar:hover {
    color: var(--text);
}

.boton-bar.activo:after {
  transform: scaleX(1);
}

.boton-activo {
    color: var(--text);
}

.intro-grid {
    display: grid;
    justify-items: center;
    height: 100vh;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.intro-text {
    max-width: 40%;
    text-align: center;
}

.intro-redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-bot {
    display: flex;
    justify-content: center;
    align-items: center;
}


.boton {
    /* color: #444444; */
    color: var(--text);
    text-decoration: none;
    border-color: rgba(240, 248, 255, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.boton:hover {
    cursor: pointer;
    color: var(--txt2);
}

.htb-icon {
    width: 40px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url(../img/htb.svg);
}

.cv {
    text-align: center;
    /* background-color: var(--secondary); */
    background: var(--button-gradient);
    background-position: 0% 100%;
    transition: background-position 0.3s, box-shadow 0.3s;
}

.cv:hover{
    /* background-color: var(--primary2); */
    background-position: 100%;
    /* background: linear-gradient(100deg, #3b82f6, #6064ff, #7178ff); */
    color: var(--text);
    padding: 10px;
    box-shadow: rgba(69, 104, 145, 0.603) 0px 0px 10px;
}

.gif {
    border-radius: 15px;
    border: solid 1px;
    border-color: var(--border);
    box-shadow: rgba(69, 104, 145, 0.603) 0px 0px 30px;
}

.about-org {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 20px;
    gap: 40px;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
    color: var(--text);
    transition: all 0.7s;
}

.estudios-org {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    width: 60%;
}

.estudio {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /* text-align: center; */
    padding: 10px 20px;
    border: solid 2px var(--border);
    border-radius: 15px;
    /* max-width: var(--estudio-width); */
    box-shadow: #2b2c3499 0px 0px 10px;
    background-color: var(--bg2);
    transition: background-color 0.5s, box-shadow 0.5s, border-color 0.5s;
    width: 100%;
}

.estudio:hover {
    /* box-shadow: rgba(90, 91, 105, 0.603) 0px 0px 50px; */
    /* background-color: #40424b99; */
    box-shadow: rgba(71, 72, 82, 0.603) 0px 0px 30px;
    background-color: #36383f99;
    border-color: var(--border2);
}

.cert {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.cert-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--txt2);
    transition: color 0.3s;
}

.cert-bot:hover {
    /* color: var(--primary); */
    color: #b5b5b5;
    cursor: pointer;
}

.skills-org {
    max-width: 40%;
}

.skills-bot-org {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin-top: 50px;
}

.skills-bot {
    /* background-color: rgba(51, 52, 59, 0.568); */
    background-color: #00000000;
    color: var(--text);
    border: solid 2px var(--border);
    border-radius: 7px;
    /* box-shadow: rgba(61, 62, 71, 0.568) 0px 0px 20px; */
    padding: 10px;
    transition: all 0.5s;
}

.skills-bot:hover{
    cursor: pointer;
    /* box-shadow: rgba(93, 94, 102, 0.568) 0px 0px 50px; */
    border-color: var(--primary);
}

.btn-active {
    /* border-color: var(--primary); */
    /* color: var(--txt2); */
    color: #6ea3f9;
}

.skill-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    margin-top: 50px;
    /* display: block; */
    transition: all 0.3s;
    height: auto;
    opacity: 1;
}


.oculto {
    /* display: none; */
    max-height: 0;
    opacity: 0;
    margin: 0;
    transform: translateY(10rem);
}

.proyectos-org {
    display: grid;
    justify-content: center;
    grid: auto / 220px 220px;
    gap: 60px;
    margin-top: 40px;
    width: fit-content;
}

.proyecto {
    display: grid;
    align-items: center;
    border: solid 2px var(--border);
    padding: 20px;
    border-radius: 15px;
    transition: background-color 0.5s, border-color 0.5s;
}

.proyecto:hover {
    background-color: var(--bg2);
    /* border-color: var(--primary); */
    border-color: var(--border2);
}

.proyecto-mrg {
    margin: 10px auto ;
}

.under-txt {
    border-bottom-color: var(--primary);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
    margin-bottom: 10px;
}

.proyecto-icon-org {
    position: relative;
    display: inline-block;
    text-align: center;
    z-index: 1;
}



.proyecto-icon {
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    color: var(--txt2);
}

.proyecto-hacking {
    background-image: url(../img/security.png);
}
.proyecto-wifi {
    background-image: url(../img/wifi.png);
}
.proyecto-bash {
    background-image: url(../img/bash.png);
}
.proyecto-linux {
    background-image: url(../img/linux.png);
}
.proyecto-windows {
    background-image: url(../img/widows.svg);
    color: var(--txt2);
}
.proyecto-wifi {
    background-image: url(../img/wifi.png);
} 

.proyecto-icon-txt {
    font-size: 20px;
    color: var(--txt2);
    position: absolute;
    bottom: 115%;        /*lo coloca encima del icono */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 8px;
    border: solid 1px;
    font-size: 17px;
    white-space: nowrap;
    text-align: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s;

    background-color: var(--bg2);
    backdrop-filter: blur(5px);
}

.proyecto-icon-org:hover .proyecto-icon-txt {
    opacity: 1;
    visibility: visible;
}

.border-top {
    border-top: solid 2px var(--border);
    margin-top: 10px;
    transition: border-color 0.5s;
}

.proyecto:hover .border-top {
    border-color: var(--border2);
}

.proyecto-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: fit-content;
    text-decoration: none;
    color: var(--txt2);
    transition: color 0.3s;
    margin-top: 10px;
}

.proyecto-bot:hover{
    color: #b5b5b5;
    cursor: pointer;
}

.contacto-bg {
    width: fit-content;
    background-color: var(--bg2);
    border-radius: 20px;
    border: solid 2px var(--border);
    box-shadow: #2b2c3499 0px 0px 10px;
    margin-top: 50px;
    padding: 20px;
}

.contacto {
    display: grid;
    justify-content: center;
}

.icon-contact {
    width: 24px;
    height: 24px;
}

.boton-contacto {
    display: flex;
    align-items: center;
    gap: 10px;
    /* color: #444444; */
    color: var(--text);
    text-decoration: none;
    border-color: rgba(240, 248, 255, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.boton-contacto:hover {
    cursor: pointer;
    color: var(--primary);
}

.footer {
    border-top: solid 2px var(--border);
    padding: 15px 0;
    margin-top: 60px;
}

