:root {
    --primary: #3b82f6;
    --primary2: #275399;
    --primary2-trans: #27539967;
    /* --secondary: #7178ff; */
    --secondary: #F5B83B;
    --bg: #080a21;
    --bg-sec: #020416;
    --bg2: #26262a99;
    /* --bg3: #000125;
    --bg4: #10001e;
    --bg5: #10001e; */
    --border: #2b2b2b;
    --text: #fff;
    --boton_hover: #6090dd;

    /* --button-gradient: linear-gradient(to right, #3b82f6, #6064ff, #7178ff) 0% 50% / 200% 200%; */
    --button-gradient: linear-gradient(to right, #275399, #3b82f6, #7178ff) 50% 0% / 300% 300%;


    --estudio-width: 18rem;
}

html {
    font-size: 17px;
    font-family: monospace;
    scroll-behavior: smooth;
}

button {
    font-size: 17px;
    font-family: monospace;
}

body {
    background-color: #000;
    color: var(--text);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    margin: 20px 0;
}

.no-marg{
    margin: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.bar {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    border-color: var(--border);
    backdrop-filter: blur(5px);
    font-size: 0.9rem;
    height: 3.5rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.bar-org {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    width: 95%;

    
}

/* .logo {
    max-height: 40px;
} */

.logo {
  height: 40px;
  width: 80px;
  fill: var(--primary);
}

.download-icon {
    color: var(--text); 
    font-size: 20px;
    margin-right: 5px;
}

.icon-bar {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 15px;
    background-color: none;
}

.nav-icon {
    margin-right: 15px;
}

.boton-bar {
    text-decoration: none;
    color: #acacac;
    transition: color 0.3s;
    position: relative;
    margin-left: 10px;
}

.boton-bar::after { 
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--primary2), var(--primary));
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.boton-bar:hover::after {
  transform: scaleX(1);
}

.boton-bar:hover {
    color: var(--text);
}

.boton-bar.active {
    color: var(--text);
}

.intro-grid {
    display: grid;
    justify-items: center;
    height: 100vh;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.intro-text {
    max-width: 40%;
    text-align: center;
}

.intro-redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-bot {
    display: flex;
    justify-content: center;
    align-items: center;
}


.boton {
    /* color: #444444; */
    color: var(--text);
    text-decoration: none;
    border-color: rgba(240, 248, 255, 0);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.boton:hover {
    cursor: pointer;
    color: #858585;
}

.htb-icon {
    width: 40px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url(../img/htb.svg);
}

.cv {
    text-align: center;
    /* background-color: var(--secondary); */
    background: var(--button-gradient);
    transition: background-position 0.3s, box-shadow 0.3s;
}

.cv:hover{
    /* background-color: var(--primary2); */
    background-position: 100%;
    /* background: linear-gradient(-100deg, #3b82f6, #6064ff, #7178ff); */
    color: var(--text);
    padding: 10px;
    box-shadow: rgba(69, 104, 145, 0.603) 0px 0px 10px;
}

.section {
    width: 100%;
    padding-top: 7%;
    background-color: #000;
    /* background-color: var(--bg-sec); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gif {
    border-radius: 15px;
    border: solid 1px;
    border-color: var(--border);
    box-shadow: rgba(69, 104, 145, 0.603) 0px 0px 30px;
}

/* .about {
    background: linear-gradient(to bottom, #000, var(--bg-sec), var(--bg-sec));
} */

.about-org {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 20px;
    gap: 40px;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 70%;
    color: #00000000;
    transform: translateY(20%) translateX(10%);
    transition: all 0.7s;
}

.about-text.visible {
    transform: translateY(0) translateX(0);
    color: var(--text);
}

/* .estudios {
    background: linear-gradient(to bottom, var(--bg3), var(--bg4));
} */

/* .estudios-org {

    display: grid;
    grid: auto / auto auto auto;
    gap: 60px;
    margin-top: 40px;
} */
.estudios-org {

    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    width: 70%;
}

.estudio {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /* text-align: center; */
    padding: 10px 20px;
    border: solid 1px var(--border);
    border-radius: 15px;
    /* max-width: var(--estudio-width); */
    box-shadow: rgba(51, 52, 65, 0.603) 0px 0px 30px;
    background-color: var(--bg2);
    transition: background-color 0.5s, box-shadow 0.5s;
    width: 100%;
}

.estudio:hover {
    box-shadow: rgba(90, 91, 105, 0.603) 0px 10px 50px;
    background-color: #40424b99;
}

.cert {
    max-width: var(--estudio-width);
    border-radius: 10px;

}

.show-img {
    opacity: 0;
    /* transform: translateY(20px); */
    transition: all 1s ease;
    width: 0;
}
/* 
.estudio:hover .show-img {
    opacity: 1;
    width: var(--estudio-width);
}

.estudio:hover .estudio-txt{
    height: 0;
    color: #00000000;
} */

/* .skills {
    background: linear-gradient(to bottom, var(--bg4), var(--bg5));
} */

.skills-org {
    max-width: 40%;
}

.skills-txt {
    text-align: center;
    color: #858585;
}

.skills-bot-org {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.skills-bot {
    /* background-color: rgba(51, 52, 59, 0.568); */
    background-color: #00000000;
    color: var(--text);
    border: solid 2px var(--border);
    border-radius: 7px;
    /* box-shadow: rgba(61, 62, 71, 0.568) 0px 0px 20px; */
    padding: 10px;
    transition: all 0.5s;
}

.skills-bot:hover{
    cursor: pointer;
    /* box-shadow: rgba(93, 94, 102, 0.568) 0px 0px 50px; */
    border-color: var(--primary);
}

.btn-active {
    /* border-color: var(--primary); */
    color: var(--primary);
}

.skill-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    /* display: block; */
    transition: all 0.3s;
    height: auto;
    opacity: 1;
}




.oculto {
    /* display: none; */
    max-height: 0;
    opacity: 0;
    margin: 0;
    transform: translateY(10rem);
}


/* .proyectos {
    background: linear-gradient(to bottom, var(--bg5), #000a41 );
} */

.proyectos-org {
    display: grid;
    grid: auto / auto auto;
    gap: 60px;
    margin-top: 40px;
    width: 40%;
}

.proyecto {
    border: solid 2px var(--border);
    padding: 20px;
    border-radius: 15px;
    transition: background-color 0.5s, border-color 0.5s;
}

.proyecto:hover {
    background-color: var(--bg2);
    border-color: var(--primary);
}
